In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', 500)

In [3]:
loans=pd.read_csv("loanstats.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
missing_percents = (len(loans.index) - loans.count())/len(loans.index)
drops = missing_percents[missing_percents > .7]
columns = drops.index
for c in columns:
    loans.drop(c, axis=1, inplace=True)

In [5]:
drops2=['funded_amnt','funded_amnt_inv','verification_status','loan_status','pymnt_plan','initial_list_status','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_int','total_rec_late_fee','total_rec_prncp','recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','next_pymnt_d','hardship_flag','disbursement_method','debt_settlement_flag']
for d in drops2:
    loans.drop(d, axis=1, inplace=True)

In [6]:
drops3=[ 'pub_rec','acc_now_delinq','tot_coll_amt','delinq_amnt','mths_since_recent_revol_delinq','num_bc_sats','num_tl_120dpd_2m','pct_tl_nvr_dlq','inq_last_6mths','open_acc_6m','open_il_12m','open_il_24m','open_rv_12m','open_rv_24m','acc_open_past_24mths','mo_sin_old_rev_tl_op','mo_sin_rcnt_rev_tl_op','earliest_cr_line','max_bal_bc','total_rev_hi_lim','avg_cur_bal','bc_open_to_buy','tot_hi_cred_lim','total_bal_ex_mort','total_il_high_credit_limit','num_op_rev_tl']

for d in drops3:
    loans.drop(d, axis=1, inplace=True)

In [7]:
pd.set_option('float_format', '{:f}'.format)

In [8]:
loans = loans[np.isfinite(loans['loan_amnt'])]

In [13]:
#Since employment title cannot be predicted or rounded off, we will replace Nan with Not provided
loans["emp_title"].fillna("Not provided", inplace=True)

In [17]:
loans["annual_inc"].describe()

count     1646774.000000
mean        77304.834579
std        120727.591570
min             0.000000
25%         46000.000000
50%         65000.000000
75%         92000.000000
max     110000000.000000
Name: annual_inc, dtype: float64

In [28]:
# Since there is only 0.0002% missing data in annual income, we will replace the Nan with mean
loans["annual_inc"].fillna(loans["annual_inc"].mean(), inplace=True)

In [64]:
loans["title"].mode()

0    Debt consolidation
dtype: object

In [59]:
#check!!!!!!!!!!!!!!!
loans["title"].fillna("Debt consolidation",inplace=True)

In [83]:
mode = lambda x: x.mode() if len(x) > 2 else np.array(x)
zipcodemode=pd.DataFrame(loans.groupby('addr_state')['zip_code'].agg(mode))

In [88]:
zipcodemode['addr_state']=zipcodemode.index

In [117]:
loans[loans['zip_code'].isnull()]['zip_code']

1403408    NaN
Name: zip_code, dtype: object

In [119]:
loans.dropna(subset=['zip_code'], inplace=True)

In [123]:
loans.dropna(subset=['dti'], inplace=True)

In [124]:
loans.dropna(subset=['delinq_2yrs'], inplace=True)

In [125]:
loans.dropna(subset=['open_acc'], inplace=True)

In [126]:
loans.dropna(subset=['revol_util'], inplace=True)

In [127]:
loans.dropna(subset=['total_acc'], inplace=True)

In [128]:
loans.dropna(subset=['last_credit_pull_d'], inplace=True)

In [129]:
loans.dropna(subset=['collections_12_mths_ex_med'], inplace=True)

In [130]:
loans.dropna(subset=['chargeoff_within_12_mths'], inplace=True)

In [131]:
loans.dropna(subset=['pub_rec_bankruptcies'], inplace=True)

In [132]:
loans.dropna(subset=['tax_liens'], inplace=True)

In [141]:
loans["mths_since_last_delinq"].fillna(loans['mths_since_last_delinq'].max(),inplace=True)

In [145]:
loans

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,issue_d,purpose,title,zip_code,addr_state,dti,delinq_2yrs,mths_since_last_delinq,open_acc,revol_bal,revol_util,total_acc,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,tot_cur_bal,open_act_il,mths_since_rcnt_il,total_bal_il,il_util,all_util,inq_fi,total_cu_tl,inq_last_12m,bc_util,chargeoff_within_12_mths,mo_sin_old_il_acct,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_tl,num_il_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,total_bc_limit,set,timestamp
0,5000.000000,36 months,10.65%,162.870000,B,B2,Not provided,10+ years,RENT,24000.000000,Dec-2011,credit_card,Computer,860xx,AZ,27.650000,0.000000,195.000000,3.000000,13648.000000,83.7%,9.000000,Oct-2017,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
1,2500.000000,60 months,15.27%,59.830000,C,C4,Ryder,< 1 year,RENT,30000.000000,Dec-2011,car,bike,309xx,GA,1.000000,0.000000,195.000000,3.000000,1687.000000,9.4%,4.000000,Oct-2016,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
2,2400.000000,36 months,15.96%,84.330000,C,C5,Not provided,10+ years,RENT,12252.000000,Dec-2011,small_business,real estate business,606xx,IL,8.720000,0.000000,195.000000,2.000000,2956.000000,98.5%,10.000000,Jun-2017,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
3,10000.000000,36 months,13.49%,339.310000,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.000000,Dec-2011,other,personel,917xx,CA,20.000000,0.000000,35.000000,10.000000,5598.000000,21%,37.000000,Apr-2016,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
4,3000.000000,60 months,12.69%,67.790000,B,B5,University Medical Group,1 year,RENT,80000.000000,Dec-2011,other,Personal,972xx,OR,17.940000,0.000000,38.000000,15.000000,27783.000000,53.9%,38.000000,Jan-2017,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
5,5000.000000,36 months,7.90%,156.460000,A,A4,Veolia Transportaton,3 years,RENT,36000.000000,Dec-2011,wedding,My wedding loan I promise to pay back,852xx,AZ,11.200000,0.000000,195.000000,9.000000,7963.000000,28.3%,12.000000,Feb-2017,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
6,7000.000000,60 months,15.96%,170.080000,C,C5,Southern Star Photography,8 years,RENT,47004.000000,Dec-2011,debt_consolidation,Loan,280xx,NC,23.510000,0.000000,195.000000,7.000000,17726.000000,85.6%,11.000000,Sep-2016,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
7,3000.000000,36 months,18.64%,109.430000,E,E1,MKC Accounting,9 years,RENT,48000.000000,Dec-2011,car,Car Downpayment,900xx,CA,5.350000,0.000000,195.000000,4.000000,8221.000000,87.5%,4.000000,Dec-2014,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
8,5600.000000,60 months,21.28%,152.390000,F,F2,Not provided,4 years,OWN,40000.000000,Dec-2011,small_business,Expand Business & Buy Debt Portfolio,958xx,CA,5.550000,0.000000,195.000000,11.000000,5210.000000,32.6%,13.000000,Oct-2016,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
9,5375.000000,60 months,12.69%,121.450000,B,B5,Starbucks,< 1 year,RENT,15000.000000,Dec-2011,other,Building my credit history.,774xx,TX,18.080000,0.000000,195.000000,2.000000,9279.000000,36.5%,3.000000,Dec-2016,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
10,6500.000000,60 months,14.65%,153.450000,C,C3,Southwest Rural metro,5 years,OWN,72000.000000,Dec-2011,debt_consolidation,High intrest Consolidation,853xx,AZ,16.120000,0.000000,195.000000,14.000000,4032.000000,20.6%,23.000000,Aug-2017,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
11,12000.000000,36 months,12.69%,402.540000,B,B5,UCLA,10+ years,OWN,75000.000000,Dec-2011,debt_consolidation,Consolidation,913xx,CA,10.780000,0.000000,195.000000,12.000000,23336.000000,67.1%,34.000000,Aug-2013,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
12,9000.000000,36 months,13.49%,305.380000,C,C1,Va. Dept of Conservation/Recreation,< 1 year,RENT,30000.000000,Dec-2011,debt_consolidation,freedom,245xx,VA,10.080000,0.000000,195.000000,4.000000,10452.000000,91.7%,9.000000,Oct-2016,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
13,3000.000000,36 months,9.91%,96.680000,B,B1,Target,3 years,RENT,15000.000000,Dec-2011,credit_card,citicard fund,606xx,IL,12.560000,0.000000,195.000000,11.000000,7323.000000,43.1%,11.000000,Apr-2017,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
14,10000.000000,36 months,10.65%,325.740000,B,B2,SFMTA,3 years,RENT,100000.000000,Dec-2011,other,Other Loan,951xx,CA,7.060000,0.000000,195.000000,14.000000,11997.000000,55.5%,29.000000,Oct-2016,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
15,1000.000000,36 months,16.29%,35.310000,D,D1,Internal revenue Service,< 1 year,RENT,28000.000000,Dec-2011,debt_consolidation,Debt Consolidation Loan,641xx,MO,20.310000,0.000000,195.000000,11.000000,6524.000000,81.5%,23.000000,Oct-2017,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
16,10000.000000,36 months,15.27%,347.980000,C,C4,Chin's Restaurant,4 years,RENT,42000.000000,Dec-2011,home_improvement,Home,921xx,CA,18.600000,0.000000,61.000000,14.000000,24043.000000,70.2%,28.000000,Sep-2017,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
17,3600.000000,36 months,6.03%,109.570000,A,A1,Duracell,10+ years,MORTGAGE,110000.000000,Dec-2011,major_purchase,Holiday,067xx,CT,10.520000,0.000000,195.000000,20.000000,22836.000000,16%,42.000000,May-2014,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
18,6000.000000,36 months,11.71%,198.460000,B,B3,Connection Inspection,1 year,MORTGAGE,84000.000000,Dec-2011,medical,Medical,890xx,UT,18.440000,2.000000,8.000000,4.000000,0.000000,37.73%,14.000000,Jul-2015,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
19,9200.000000,36 months,6.03%,280.010000,A,A1,Network Interpreting Service,6 years,RENT,77385.190000,Dec-2011,debt_consolidation,lowerratemeanseasiertogetoutofdebt!,921xx,CA,9.860000,0.000000,195.000000,8.000000,7314.000000,23.1%,28.000000,Feb-2016,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
20,20250.000000,60 months,15.27%,484.630000,C,C4,Archdiocese of Galveston Houston,3 years,RENT,43370.000000,Dec-2011,debt_consolidation,Freedom From Credit Cards,770xx,TX,26.530000,0.000000,195.000000,8.000000,17813.000000,85.6%,22.000000,Jun-2016,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
21,21000.000000,36 months,12.42%,701.730000,B,B4,Osram Sylvania,10+ years,RENT,105000.000000,Dec-2011,debt_consolidation,Debt Cleanup,335xx,FL,13.220000,0.000000,195.000000,7.000000,32135.000000,90.3%,38.000000,Feb-2017,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
22,10000.000000,36 months,11.71%,330.760000,B,B3,Value Air,10+ years,OWN,50000.000000,Dec-2011,credit_card,Credit Card Loan,799xx,TX,11.180000,0.000000,195.000000,8.000000,10056.000000,82.4%,21.000000,Oct-2017,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
23,10000.000000,36 months,11.71%,330.760000,B,B3,Wells Fargo Bank,5 years,RENT,50000.000000,Dec-2011,debt_consolidation,Debt Consolidation,917xx,CA,16.010000,0.000000,195.000000,6.000000,17800.000000,91.8%,17.000000,Mar-2014,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
24,6000.000000,36 months,11.71%,198.460000,B,B3,bmg-educational,1 year,RENT,76000.000000,Dec-2011,major_purchase,cash,900xx,CA,2.400000,0.000000,195.000000,7.000000,5963.000000,29.7%,7.000000,Oct-2016,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
25,15000.000000,36 months,9.91%,483.380000,B,B1,Winfield Pathology Consultants,2 years,MORTGAGE,92000.000000,Dec-2011,credit_card,No more credit card debt!,605xx,IL,29.440000,0.000000,195.000000,8.000000,13707.000000,93.9%,31.000000,Sep-2012,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
26,15000.000000,36 months,14.27%,514.640000,C,C2,nyc transit,9 years,RENT,60000.000000,Dec-2011,debt_consolidation,consolidation,103xx,NY,15.220000,0.000000,195.000000,7.000000,5872.000000,57.6%,11.000000,Oct-2017,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
27,5000.000000,60 months,16.77%,123.650000,D,D2,Frito Lay,2 years,RENT,50004.000000,Dec-2011,other,Other,150xx,PA,13.970000,3.000000,20.000000,14.000000,4345.000000,59.5%,22.000000,Oct-2016,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
28,4000.000000,36 months,11.71%,132.310000,B,B3,Shands Hospital at the University of Fl,10+ years,MORTGAGE,106000.000000,Dec-2011,debt_consolidation,Debt Consolidation,326xx,FL,5.630000,1.000000,18.000000,12.000000,6110.000000,37.7%,44.000000,Oct-2017,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
29,8500.000000,36 months,11.71%,281.150000,B,B3,Oakridge homes,< 1 year,RENT,25000.000000,Dec-2011,credit_card,Credit card repayment loan,564xx,MN,12.190000,0.000000,195.000000,8.000000,6441.000000,59.1%,12.000000,Jan-2015,0.000000,1.000000,Individual,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.000000,0.000000,nan,accepted,2017-11-08 13:54:05.580572
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1646769,8000.000000,36 months,20.00%,297.310000,D,D4,Supervisor,7 years,RENT,62000.000000,Jul-2017,debt_consolidation,Debt consolidation,302xx,GA,34.110000,0.000000,28.000000,12.000000,13786.000000,61.8%,21.000000,Oct-2017,0.000000,1.000000,Individual,78709.000000,2.000000,16.000000,64923.000000,102.000000,83.000000,3.000000,0.000000,1.000000,72.400000,0.000000,102.000000,3.000000,0.000000,17.000000,3.000000,0.000000,2.000000,9.000000,3.000000,10.000000,11.000000,9.000000,12.000000,0.000000,0.000000,3.000000,66.700000,1.000000,0.000000,10200.000000,accepted,2017-11-08 13:54:05.580572
1646770,20000.000000,60 months,29.69%,643.270000,F,F2,Finance Manager,< 1 year,MORTGAGE,105000.000000,Jul-2017,vacation,Vacation,103xx,NY,8.180000,1.000000,20.000000,19.000000,11022.000000,35.1%,30.000000,Oct-2017,0.000000,1.000000,Individual,658839.000000,6.000000,4.000000,47560.000000,89.000000,69.000000,1.000000,0.000000,4.000000,67.600000,0.000000,80.000000,4.000000,1.000000,16.000000,2.000000,0.000000,3.000000,7.000000,11.000000,8.000000,21.000000,7.000000,19.000000,0.000000,0.000000,2.000000,75.000000,0.000000,0.000000,9500.000000,accepted,2017-11-08 13:54:05.580572
1646771,14000.000000,36 months,23.88%,548.380000,E,E2,Branch Manager,3 years,OWN,65000.000000,Jul-2017,debt_consolidation,Debt consolidation,481xx,MI,32.130000,0.000000,45.000000,30.000000,14425.000000,55.9%,42.000000,Oct-2017,0.000000,1.000000,Individual,104230.000000,17.000000,15.000000,89805.000000,96.000000,87.000000,1.000000,3.000000,1.000000,52.700000,0.000000,247.000000,2.000000,0.000000,2.000000,10.000000,1.000000,5.000000,11.000000,7.000000,24.000000,18.000000,11.000000,30.000000,0.000000,0.000000,3.000000,60.000000,0.000000,0.000000,9500.000000,accepted,2017-11-08 13:54:05.580572
1646772,6375.000000,36 months,5.32%,191.990000,A,A1,Technical Lead,4 years,RENT,450000.000000,Jul-2017,debt_consolidation,Debt consolidation,100xx,NY,1.940000,0.000000,49.000000,5.000000,1229.000000,9%,9.000000,Oct-2017,0.000000,1.000000,Individual,8081.000000,1.000000,24.000000,6852.000000,46.000000,28.000000,0.000000,0.000000,1.000000,9.000000,0.000000,141.000000,20.000000,0.000000,20.000000,5.000000,0.000000,4.000000,4.000000,5.000000,3.000000,6.000000,4.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13700.000000,accepted,2017-11-08 13:54:05.580572
1646773,27500.000000,60 months,25.82%,820.440000,E,E4,Not provided,n/a,RENT,55000.000000,Jul-2017,credit_card,Credit card refinancing,853xx,AZ,27.080000,0.000000,195.000000,11.000000,30970.000000,60.8%,20.000000,Oct-2017,0.000000,1.000000,Individual,55983.000000,2.000000,26.000000,25013.000000,64.000000,62.000000,0.000000,2.000000,3.000000,63.000000,0.000000,187.000000,8.000000,0.000000,8.000000,6.000000,0.000000,7.000000,9.000000,8.000000,8.000000,12.000000,9.000000,11.000000,0.000000,0.000000,2.000000,42.900000,0.000000,0.000000,43100.000000,accepted,2017-11-08 13:54:05.580572
1646774,15000.000000,60 months,12.62%,338.390000,C,C1,Housekeeper,< 1 year,MORTGAGE,22000.000000,Jul-2017,debt_consolidation,Debt consolidation,322xx,FL,27.550000,0.000000,34.000000,10.000000,4819.000000,25.5%,18.000000,Jun-2017,0.000000,1.000000,Joint App,187819.000000,1.000000,14.000000,21928.000000,83.000000,59.000000,2.000000,6.000000,2.000000,37.200000,0.000000,109.000000,8.000000,4.000000,22.000000,6.000000,0.000000,2.000000,4.000000,4.000000,7.000000,7.000000,4.000000,10.000000,0.000000,0.000000,1.000000,25.000000,0.000000,0.000000,12100.000000,accepted,2017-11-08 13:54:05.580572
1646775,18000.000000,60 months,17.09%,448.220000,D,D1,Maintenance manager,< 1 year,MORTGAGE,90000.000000,Jul-2017,debt_consolidation,Debt consolidation,306xx,GA,18.160000,0.000000,195.000000,11.000000,12919.000000,61.5%,21.000000,Oct-2017,1.000000,1.000000,Individual,250312.000000,2.000000,37.000000,33938.000000,44.000000,53.000000,2.000000,0.000000,3.000000,73.900000,0.000000,131.000000,4.000000,3.000000,4.000000,1.000000,0.000000,3.000000,6.000000,6.000000,6.000000,12.000000,6.000000,11.000000,0.000000,0.000000,4.000000,50.000000,1.000000,0.000000,16800.000000,accepted,2017-11-08 13:54:05.580572
1646776,35000.000000,36 months,23.88%,1370.950000,E,E2,Underwriting Manager,8 years,RENT,133000.000000,Jul-2017,debt_consolidation,Debt consolidation,891xx,NV,31.070000,0.000000,195.000000,27.000000,42911.000000,77%,48.000000,Oct-2017,0.000000,1.000000,Individual,97961.000000,5.000000,6.000000,55050.000000,59.000000,77.000000,1.000000,2.000000,1.000000,93.000000,0.000000,160.000000,4.000000,1.000000,4.000000,9.000000,0.000000,10.000000,20.000000,12.000000,19.000000,28.000000,17.000000,25.000000,0.000000,0.000000,2.000000,80.000000,1.000000,0.000000,41100.000000,accepted,2017-11-08 13:54:05.580572
1646777,28000.000000,36 months,26.30%,1132.620000,E,E5,Flight Nurse,3 years,RENT,98000.000000,Jul-2017,credit_card,Credit card refinancing,631xx,MO,32.080000,0.000000,34.000000,24.000000,30309.000000,44.2%,38.000000,Oct-2017,0.000000,1.000000,Individual,94470.000000,5.000000,9.000000,64161.000000,74.000000,61.000000,2.000000,2.000000,2.000000,57.700000,0.000000,121.000000,2.000000,1.000000,11.000000,8.000000,1.000000,7.000000,14.000000,13.000000,12.000000,25.000000,14.000000,24.000000,0.000000,0.000000,5.000000,62.500000,0.000000,0.000000,48100.000000,accepted,2017-11-08 13:54:05.580572
1646778,5400.000000,36 months,24.85%,214.280000,E,E3,Maintenance,2 years,RENT,37000.000000,Jul-2017,debt_consolidation,Debt consolidation,882xx,NM,32.440000,0.000000,195.000000,5.000000,3231.000000,53%,7.000000,Oct-2017,0.000000,1.000000,Individual,48348.000000,2.000000,6.000000,45117.000000,86.000000,70.000000,2.000000,0.000000,7.000000,67.400000,0.000000,30.000000,6.000000,0.000000,6.000000,6.000000,0.000000,2.000000,3.000000,2.000000,4.000000,3.000000,3.000000,5.000000,0.000000,0.000000,4.000000,50.000000,0.000000,0.000000,2100.000000,accepted,2017-11-08 13:54:05.580572

In [142]:
missing_percents = (len(loans.index) - loans.count())/len(loans.index)

In [143]:
df=pd.DataFrame(missing_percents)

In [144]:
df

                                  0
loan_amnt                  0.000000
term                       0.000000
int_rate                   0.000000
installment                0.000000
grade                      0.000000
sub_grade                  0.000000
emp_title                  0.000000
emp_length                 0.000000
home_ownership             0.000000
annual_inc                 0.000000
issue_d                    0.000000
purpose                    0.000000
title                      0.000000
zip_code                   0.000000
addr_state                 0.000000
dti                        0.000000
delinq_2yrs                0.000000
mths_since_last_delinq     0.000000
open_acc                   0.000000
revol_bal                  0.000000
revol_util                 0.000000
total_acc                  0.000000
last_credit_pull_d         0.000000
collections_12_mths_ex_med 0.000000
policy_code                0.000000
application_type           0.000000
tot_cur_bal                0.041859
open_act_il                0.525702
mths_since_rcnt_il         0.538486
total_bal_il               0.525702
il_util                    0.588425
all_util                   0.525702
inq_fi                     0.525702
total_cu_tl                0.525703
inq_last_12m               0.525703
bc_util                    0.039519
chargeoff_within_12_mths   0.000000
mo_sin_old_il_acct         0.069847
mo_sin_rcnt_tl             0.041859
mort_acc                   0.029555
mths_since_recent_bc       0.038492
mths_since_recent_inq      0.132367
num_accts_ever_120_pd      0.041859
num_actv_bc_tl             0.041859
num_actv_rev_tl            0.041859
num_bc_tl                  0.041859
num_il_tl                  0.041859
num_rev_accts              0.041860
num_rev_tl_bal_gt_0        0.041859
num_sats                   0.034756
num_tl_30dpd               0.041859
num_tl_90g_dpd_24m         0.041859
num_tl_op_past_12m         0.041859
percent_bc_gt_75           0.039331
pub_rec_bankruptcies       0.000000
tax_liens                  0.000000
total_bc_limit             0.029555
set                        0.000000
timestamp                  0.000000