In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows',110)

In [3]:
loans=pd.read_csv("loanstats.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
missing_percents = (len(loans.index) - loans.count())/len(loans.index)
drops = missing_percents[missing_percents > .5]
columns = drops.index
for c in columns:
    loans.drop(c, axis=1, inplace=True)

In [5]:
#drops2=['funded_amnt','funded_amnt_inv','verification_status','loan_status','pymnt_plan','initial_list_status','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_int','total_rec_late_fee','total_rec_prncp','recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','hardship_flag','disbursement_method','debt_settlement_flag']
#for d in drops2:
    #loans.drop(d, axis=1, inplace=True)

In [6]:
#drops3=['pub_rec','acc_now_delinq','tot_coll_amt','delinq_amnt','num_bc_sats','num_tl_120dpd_2m','pct_tl_nvr_dlq','inq_last_6mths','acc_open_past_24mths','mo_sin_old_rev_tl_op','mo_sin_rcnt_rev_tl_op','earliest_cr_line','total_rev_hi_lim','avg_cur_bal','bc_open_to_buy','tot_hi_cred_lim','total_bal_ex_mort','total_il_high_credit_limit','num_op_rev_tl']

#for d in drops3:
    #loans.drop(d, axis=1, inplace=True)

In [7]:
pd.set_option('float_format', '{:f}'.format)

In [8]:
loans = loans[np.isfinite(loans['loan_amnt'])]

In [9]:
#Since employment title cannot be predicted or rounded off, we will replace Nan with Not provided
loans["emp_title"].fillna("Not provided", inplace=True)

In [10]:
loans["annual_inc"].describe()

count     1646774.000000
mean        77304.834579
std        120727.591570
min             0.000000
25%         46000.000000
50%         65000.000000
75%         92000.000000
max     110000000.000000
Name: annual_inc, dtype: float64

In [11]:
# Since there is only 0.0002% missing data in annual income, we will replace the Nan with mean
loans["annual_inc"].fillna(loans["annual_inc"].mean(), inplace=True)

In [12]:
loans["title"].mode()

0    Debt consolidation
dtype: object

In [13]:
loans["title"].fillna("Debt consolidation",inplace=True)

In [14]:
loans.dropna(subset=['zip_code'], inplace=True)

In [15]:
loans.dropna(subset=['dti'], inplace=True)

In [16]:
loans.dropna(subset=['delinq_2yrs'], inplace=True)

In [17]:
loans.dropna(subset=['open_acc'], inplace=True)

In [18]:
loans.dropna(subset=['revol_util'], inplace=True)

In [19]:
loans.dropna(subset=['total_acc'], inplace=True)

In [20]:
loans.dropna(subset=['last_credit_pull_d'], inplace=True)

In [21]:
loans.dropna(subset=['collections_12_mths_ex_med'], inplace=True)

In [22]:
loans.dropna(subset=['chargeoff_within_12_mths'], inplace=True)

In [23]:
loans.dropna(subset=['pub_rec_bankruptcies'], inplace=True)

In [24]:
loans.dropna(subset=['tax_liens'], inplace=True)

In [25]:
loans["mths_since_last_delinq"].fillna(loans['mths_since_last_delinq'].max(),inplace=True)

In [26]:
loans.dropna(subset=['tot_cur_bal'], inplace=True)

In [27]:
loans.dropna(subset=['bc_util'], inplace=True)

In [28]:
loans.dropna(subset=['mo_sin_old_il_acct'], inplace=True)

In [29]:
loans.dropna(subset=['mths_since_recent_bc'], inplace=True)

In [30]:
loans.dropna(subset=['num_rev_accts'], inplace=True)

In [31]:
loans.dropna(subset=['percent_bc_gt_75'], inplace=True)

In [32]:
loans.dropna(subset=['mo_sin_old_il_acct'], inplace=True)

In [33]:
loans["mths_since_recent_inq"].fillna(loans["mths_since_recent_inq"].median(),inplace=True)

In [35]:
loans.to_csv('cleanData.csv')

In [36]:
missing_percents = (len(loans.index) - loans.count())/len(loans.index)
df=pd.DataFrame(missing_percents)
df

                                  0
id                         0.000000
loan_amnt                  0.000000
term                       0.000000
int_rate                   0.000000
installment                0.000000
grade                      0.000000
sub_grade                  0.000000
emp_title                  0.000000
emp_length                 0.000000
home_ownership             0.000000
annual_inc                 0.000000
purpose                    0.000000
title                      0.000000
zip_code                   0.000000
addr_state                 0.000000
dti                        0.000000
delinq_2yrs                0.000000
fico_range_low             0.000000
mths_since_last_delinq     0.000000
open_acc                   0.000000
revol_bal                  0.000000
revol_util                 0.000000
total_acc                  0.000000
last_credit_pull_d         0.000000
collections_12_mths_ex_med 0.000000
policy_code                0.000000
application_type           0.000000
tot_cur_bal                0.000000
bc_util                    0.000000
chargeoff_within_12_mths   0.000000
mo_sin_old_il_acct         0.000000
mo_sin_rcnt_tl             0.000000
mort_acc                   0.000000
mths_since_recent_bc       0.000000
mths_since_recent_inq      0.000000
num_accts_ever_120_pd      0.000000
num_actv_bc_tl             0.000000
num_actv_rev_tl            0.000000
num_bc_tl                  0.000000
num_il_tl                  0.000000
num_rev_accts              0.000000
num_rev_tl_bal_gt_0        0.000000
num_sats                   0.000000
num_tl_30dpd               0.000000
num_tl_90g_dpd_24m         0.000000
num_tl_op_past_12m         0.000000
percent_bc_gt_75           0.000000
pub_rec_bankruptcies       0.000000
tax_liens                  0.000000
total_bc_limit             0.000000
set                        0.000000
timestamp                  0.000000