In [314]:
import pandas as pd
import numpy as np

In [315]:
pd.set_option('display.max_columns',65)

In [316]:
df=pd.read_csv("clean_data.csv")

In [317]:
df.head()

,parcelid,airconditioningtypeid,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,propertycountylandusecode,propertylandusetypeid,rawcensustractandblock,regionidcity,roomcnt,unitcnt,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,logerror,transactiondate,setyear,pooltype,zipcode
0,17073783,5.0,3.0,6.015461,2.5,1264.0,6111.0,0.0,2.0,2.0,434.0,False,2.0,34.303597,-119.287236,1735.0,0.0,1128,265.0,61110022003007,34543.0,5.0,1.0,1986.0,2.0,False,115087.0,191811.0,2015.0,76724.0,2015.06,N,NaN,0.0953,2016-01-27,2016,0,93001
1,17088994,5.0,2.0,6.015461,1.0,777.0,6111.0,0.0,1.0,1.0,434.0,False,2.0,34.272866,-119.198911,7200.0,0.0,1129,266.0,61110015031002,34543.0,4.0,1.0,1990.0,1.0,False,143809.0,239679.0,2015.0,95870.0,2581.30,N,NaN,0.0198,2016-03-30,2016,0,93004
2,17100444,5.0,3.0,6.015461,2.0,1101.0,6111.0,0.0,2.0,2.0,441.0,False,2.0,34.340801,-119.079610,6569.0,0.0,1111,261.0,61110007011007,26965.0,5.0,1.0,1956.0,1.0,False,33619.0,47853.0,2015.0,14234.0,591.64,N,NaN,0.0060,2016-05-27,2016,0,93066
3,17102429,5.0,2.0,6.015461,1.5,1554.0,6111.0,1.0,1.0,2.0,460.0,False,2.0,34.354313,-119.076405,7400.0,0.0,1110,261.0,61110008002013,26965.0,5.0,1.0,1965.0,1.0,True,45609.0,62914.0,2015.0,17305.0,682.78,N,NaN,-0.0566,2016-06-07,2016,0,93060
4,17109604,5.0,4.0,6.015461,2.5,2415.0,6111.0,1.0,2.0,2.0,665.0,False,2.0,34.266578,-119.165392,6326.0,0.0,1111,261.0,61110014021007,34543.0,8.0,1.0,1984.0,2.0,True,277000.0,554000.0,2015.0,277000.0,5886.92,N,NaN,0.0573,2016-08-08,2016,0,93004

In [318]:
df=df.drop('transactiondate',axis=1)
df=df.drop('taxdelinquencyyear',axis=1)
def hottub(a):
    if a:
        return 1
    else:
        return 0
df['hashottuborspa']=df['hashottuborspa'].map(lambda a:hottub(a))

def fire(a):
    if a:
        return 1
    else:
        return 0
df['fireplaceflag']=df['fireplaceflag'].map(lambda a:fire(a))

def tax(a):
    if a=='Y':
        return 1
    else:
        return 0
df['taxdelinquencyflag']=df['taxdelinquencyflag'].map(lambda a:tax(a))

fips = pd.get_dummies(df['fips'])
df = df.join(fips)

yr = pd.get_dummies(df['setyear'])
df = df.join(yr)

ac = pd.get_dummies(df['airconditioningtypeid'], prefix='ac')
df = df.join(ac)

heat = pd.get_dummies(df['heatingorsystemtypeid'], prefix='heat')
df=df.join(heat)

In [319]:
from sklearn.model_selection import train_test_split

In [320]:
array=df.values

In [321]:
Y=array[:,32]

In [322]:
x1=array[:,2:6]
x2=array[:,7:12]
x3=array[:,13:17]
x4=array[:,19:20]
x5=array[:,21:32]  
x6=array[:,34:59]

In [323]:
X=np.hstack((x1,x2))
X=np.hstack((X,x3))
X=np.hstack((X,x4))
X=np.hstack((X,x5))
X=np.hstack((X,x6))

In [324]:
X[1]

array([2.0, 6.015460983643267, 1.0, 777.0, 0.0, 1.0, 1.0, 434.0, 0,
       34.272866, -119.19891100000001, 7200.0, 0.0, 61110015031002, 4.0,
       1.0, 1990.0, 1.0, 0, 143809.0, 239679.0, 2015.0, 95870.0, 2581.3, 0,
       0, 93004, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0], dtype=object)

In [325]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [326]:
#https://www.kdnuggets.com/2016/10/beginners-guide-neural-networks-python-scikit-learn.html/2

In [327]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# Fit only to the training data
scaler.fit(X_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [328]:
# Now apply the transformations to the data:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [329]:
from sklearn.neural_network import MLPRegressor

In [330]:
mlp = MLPRegressor(hidden_layer_sizes=(5000,2000,1000),activation='relu',solver='adam',learning_rate='adaptive',verbose=False)

In [331]:
mlp.fit(X_train,Y_train)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(5000, 2000, 1000), learning_rate='adaptive',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

### Hidden Layer (500,250,100)

In [282]:
predictions500=mlp.predict(X_train)

In [283]:
predictions = mlp.predict(X_test)

In [284]:
from sklearn.metrics import mean_squared_error
from math import sqrt

print(sqrt(mean_squared_error(Y_train, predictions500)))

0.1738280216056256

In [285]:
from sklearn.metrics import mean_squared_error
from math import sqrt

print(sqrt(mean_squared_error(Y_test, predictions)))

0.17589399164926103

In [286]:
from sklearn.metrics import mean_absolute_error

print(mean_absolute_error(Y_train,predictions500))

0.0710263205695

In [287]:
from sklearn.metrics import mean_absolute_error

print(mean_absolute_error(Y_test,predictions))

0.0719059421754

### Hidden layer: 10000,5000,2000

In [234]:
predictions = mlp.predict(X_test)

In [235]:
from sklearn.metrics import mean_squared_error
from math import sqrt

print(sqrt(mean_squared_error(Y_test, predictions)))

0.16631902589554823

In [237]:
from sklearn.metrics import mean_absolute_error

print(mean_absolute_error(Y_test,predictions))

0.0699808846082

### Hidden layer-100, 50, 30

In [257]:
predictions = mlp.predict(X_test)

In [258]:
from sklearn.metrics import mean_squared_error
from math import sqrt

print(sqrt(mean_squared_error(Y_test, predictions)))

0.17180407016233065

In [259]:
from sklearn.metrics import mean_absolute_error

print(mean_absolute_error(Y_test,predictions))

0.072642437057

In [260]:
predictionsTrain = mlp.predict(X_train)

In [261]:
from sklearn.metrics import mean_squared_error
from math import sqrt

print(sqrt(mean_squared_error(Y_train, predictionsTrain)))

0.16631469692789658

In [263]:
from sklearn.metrics import mean_absolute_error

print(mean_absolute_error(Y_train,predictionsTrain))

0.0720487971513