# Multiple Linear Regression

In [2]:
import csv
import pandas as pd

In [7]:
pd.set_option('display.max_columns', 65)

df = pd.read_csv('clean_data.csv', low_memory=False)

In [8]:
df.count()

parcelid                        167851
airconditioningtypeid           167851
bedroomcnt                      167851
buildingqualitytypeid           167851
calculatedbathnbr               167851
calculatedfinishedsquarefeet    167851
fips                            167851
fireplacecnt                    167851
fullbathcnt                     167851
garagecarcnt                    167851
garagetotalsqft                 167851
hashottuborspa                  167851
heatingorsystemtypeid           167851
latitude                        167851
longitude                       167851
lotsizesquarefeet               167851
poolcnt                         167851
propertycountylandusecode       167850
propertylandusetypeid           167851
rawcensustractandblock          167851
regionidcity                    164576
roomcnt                         166127
unitcnt                         167851
yearbuilt                       167851
numberofstories                 167851
fireplaceflag                   167851
structuretaxvaluedollarcnt      167851
taxvaluedollarcnt               167851
assessmentyear                  167851
landtaxvaluedollarcnt           167851
taxamount                       167851
taxdelinquencyflag              167851
taxdelinquencyyear                4683
logerror                        167851
transactiondate                 167851
setyear                         167851
pooltype                        167851
zipcode                         167851
dtype: int64

Variables in the Cleaned Data:

Categorical X:

<div style="-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-rule: 1px dotted #e0e0e0; -moz-column-rule: 1px dotted #e0e0e0; column-rule: 1px dotted #e0e0e0;">
    <div style="display: inline-block;">
        <ul>
         <li>airconditioningtypeid</li>
         <li>fips</li>
         <li>hashottuborspa</li>
         <li>heatingorsystemtypeid</li>
         <li>propertycountylandusecode</li>
         <li>propertylandusetypeid</li>
         <li>rawcensustractandblock</li>
        </ul>
    </div>
    <div style="display: inline-block;">
        <ul>
        <li>regionidcity</li>
        <li>fireplaceflag</li>
        <li>taxdelinquencyflag</li>
        <li>setyear</li>
        <li>pooltype</li>
        <li>zipcode</li>
        </ul>
    </div>
</div>


Numerical X:
<div style="-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-rule: 1px dotted #e0e0e0; -moz-column-rule: 1px dotted #e0e0e0; column-rule: 1px dotted #e0e0e0;">
    <div style="display: inline-block;">
        <ul>
        </ul>
    </div>
    <div style="display: inline-block;">
* bedroomcnt                      
* buildingqualitytypeid           
* calculatedbathnbr               
* calculatedfinishedsquarefeet    
* fireplacecnt                    
* fullbathcnt                     
* garagecarcnt                    
* garagetotalsqft                 
* latitude                        
* longitude                       
* lotsizesquarefeet               
* poolcnt                                   
* roomcnt                         
* unitcnt                              
* yearbuilt                       
* numberofstories                             
* structuretaxvaluedollarcnt      
* taxvaluedollarcnt               
* assessmentyear                  
* landtaxvaluedollarcnt           
* taxamount                       
* taxdelinquencyyear                       
* transactiondate                 
                        
Y:
* logerror

In [9]:
df['roomcnt'].value_counts()

5.0     35902
6.0     31748
4.0     26622
7.0     21179
3.0     12523
8.0     12033
2.0      5429
9.0      5237
5.5      4154
10.0     2382
4.5      1954
6.5      1513
11.0      979
12.0      716
7.5       653
8.5       602
9.5       437
1.0       431
3.5       348
13.0      245
10.5      237
14.0      175
2.5       144
16.0      135
15.0      102
11.5       59
12.5       43
17.0       43
18.0       37
20.0       27
19.0       15
13.5        9
14.5        3
21.0        3
22.0        3
26.0        1
24.0        1
15.5        1
32.0        1
23.0        1
Name: roomcnt, dtype: int64

In [10]:
df['roomcnt'].isnull().any()

True